* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ffffff;
    color: #4d4d4d;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', 'Arial', sans-serif;
}